* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100vh;
  line-height: 1.6;
  text-align: center;
  text-decoration: none;
  align-items: center;
  background-image: url("/images/waiting-room-with-chairs-blurred.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  padding-top: 90px;
  margin: 10px;
}
